DATABASE_URL="postgresql://postgres:postgres@localhost:5432/barber_os?schema=public"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
